@import "settings";
body{
	margin: 30px;
	.navbar{
		border:1px solid #f0f0f0;
	}
}
img{
	max-width: 100%;
}
.alert{
	margin-top:30px;
}
.wrap-main{
	margin-top:30px;
	
	table{
		&.table-user{
			td{
				&.img{
					text-align: center;
					span{
					    width: 80px;
					    height: 80px;
					    border-radius: 50%;
					    background-size: cover;
					    display: block;
					    background-repeat: no-repeat;
					}
				} 
			}
		}
		&.table-slider{
			td{
				&.img{
					text-align: center;
					span{
					    width: 500px;
					    height: 150px;
					    background-size: cover;
					    display: block;
					    background-position:center;
					    background-repeat: no-repeat;
					}
				} 
			}
		}
		tr{
			td{
				align-items: center;
	    		vertical-align: middle;
	    		&:first-child{
	    			text-align:center;
	    			vertical-align: middle;
	    		}
			}
		}
	}
	button{
		&[type="submit"]{
			background:green;
			padding: 15px;
			margin-top: 30px;
			color: #ffffff;
			width: 200px;
		}
	}
	.form-control{
		height: auto;
	}
	.form-group{
		.avatar-img{
			img{
				margin-top: 5px;
				width: 200px;
			}
		}
	}
	.wrap_feature_img,
	.wrap_gallery{
		img{
			width:calc(100%/ 5 - 20px);
			margin:10px;
			margin-left: 0px;
			margin-bottom: 0px;
		}
	}
	.wrap_img{
		margin-top: 5px;
		width: 300px;
	}
}
